@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



*{
          margin: 0;
          padding: 0;
}

body{
          font-family: "Azeret Mono", monospace;
          font-optical-sizing: auto;
}

/* .navbar{
          width: 1340px;
          height: 60px;
          margin: 0 auto;
          border: 2px solid red;
          margin-bottom: 10px;    
}
.navbar .nav-content{
          display: flex;
          flex-direction: column;
          justify-content: space-between;

}

.navbar-name{
          display: flex;
          flex-direction: column;
          justify-content:space-around; 
          margin: 0 auto;
} */

.banner{
          width: 1340px;
          height: 630px;
          margin: 0 auto;
          background-image:url("../assets/Hero-bg.png") ;
}
.banner-content{
          width: 898px;
          height: 561px;
          margin: 0 auto;
          margin-top: 26px;
}
.banner-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}
.banner-container img{
    margin-bottom: 40px;
}
.banner-container h1{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 28px;
          font-weight: 800;
          line-height: 50px;
          text-align: center;
          margin-bottom: 24px;
 }
 .banner-container p{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          opacity: 0.7;
          text-align: center;
          margin-bottom: 32px;
 }

 .banner-container button{
          width: 200px;
          height: 55px;
          border-radius: 8px;
          background: rgb(13, 19, 33);
          
 }
#color{
          color: rgb(255, 255, 255);
          font-family: Azeret Mono;
          font-size: 13px;
          font-weight: 600;
          line-height: 23px
}

.development-section{
          width: 1040px;
          height: 1110px;
          margin: 0 auto;
          margin-top: 60px;
          border-radius: 16px;
          background: rgba(13, 19, 33, 0.02);
 }
.development-container{
          width: 866px;
          height: 1170px;
          margin: 0 auto;
          margin-top: 6%;

}
.development-content-1{
          width: 100%;
          height:80px ;
          margin: 0 auto;
          margin-bottom: 25px;
          border-radius: 16px;
          border-radius: 16px;
           background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.development-content-2{
          width: 100%;
          height:325px ;
          margin: 0 auto;
          margin-bottom: 25px;
          border-radius: 16px;
          background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.development-content-3{
          width: 100%;
          height:325px ;
          margin: 0 auto;
          margin-bottom: 25px;
          border-radius: 16px;
          background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.development-content-4{
          width: 100%;
          height:325px ;
          margin: 0 auto;
          margin-bottom: 25px;
          border-radius: 16px;
          background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.development-content-1 h2{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 20px;
          font-weight: 800;
          line-height: 25px;
          text-align: center;
}
.development-content-1 p{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 12px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0%;
          text-align: center;
          margin-top: 10px;
          opacity: 0.7;

}

.development-content-2{
          display: flex;
}
.development-content-2 .developer-text{
          width: 50%;
          height: 100%;
          margin: 0 auto;
          margin-top: 20px;
}
.development-content-2 .developer-img{
          width: 50%;
          height: 100%;
          margin: 0 auto;
}
.development-content-2 .developer-text h1{
          color: rgba(13, 19, 33, 0.7);
          font-family: Azeret Mono;
          font-size: 20px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0%;
          text-align: left;
          margin-bottom: 16px;
          margin-top: 20px;
}

.development-content-2 .developer-text p{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: left;
          opacity: 0.7;

}
.development-content-2 .developer-text button{
          width: 140px;
          height: 47px;
          /* margin: 32px 0px; */
          box-sizing: border-box;
          border: 1px solid rgb(13, 19, 33);
          opacity: 0.7;
          margin-top: 40px;

}
.developer-img{
          display: flex;
          justify-content:end;
          align-items: center;
}
.development-content-3{
          display: flex;
}
.development-content-3 .developer-text{
          width: 50%;
          height: 100%;
          margin: 0 auto;
          margin-top: 20px;
}
.development-content-3 .developer-img2{
          width: 50%;
          height: 100%;
          margin: 0 auto;
}
.development-content-3 .developer-text h1{
          color: rgba(13, 19, 33, 0.7);
          font-family: Azeret Mono;
          font-size: 20px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0%;
          text-align: left;
          margin-bottom: 16px;
          margin-top: 20px;
}

.development-content-3 .developer-text p{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: left;
          opacity: 0.7;

}
.development-content-3 .developer-text button{
          width: 140px;
          height: 47px;
          /* margin: 32px 0px; */
          box-sizing: border-box;
          border: 1px solid rgb(13, 19, 33);
          opacity: 0.7;
          margin-top: 40px;

}
.developer-img2{
          display: flex;
          
          align-items: center;
}
.development-content-4{
          display: flex;
}
.development-content-4 .developer-text{
          width: 50%;
          height: 100%;
          margin: 0 auto;
          margin-top: 20px;
}
.development-content-4 .developer-img{
          width: 50%;
          height: 100%;
          margin: 0 auto;
}
.development-content-4 .developer-text h1{
          color: rgba(13, 19, 33, 0.7);
          font-family: Azeret Mono;
          font-size: 20px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0%;
          text-align: left;
          margin-bottom: 16px;
          margin-top: 20px;
}

.development-content-4 .developer-text p{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: left;
          opacity: 0.7;

}
.development-content-4 .developer-text button{
          width: 140px;
          height: 47px;
          /* margin: 32px 0px; */
          box-sizing: border-box;
          border: 1px solid rgb(13, 19, 33);
          opacity: 0.7;
          margin-top: 40px;

}
.developer-img{
          display: flex;
          
          align-items: center;
}

.inspiration-container{
          width: 1040px;
          height: 675px;  
          margin: 0 auto; 
          margin-top: 70px;
}
.inspiration-container .inspiration-text{
          width: 90%;
          height: 170px;
          margin: 0 auto;
}
.inspiration-container .inspiration-video{
          width: 100%;
          height: 490px;
          margin: 0 auto;
          margin-top: 10px;
}
.inspiration-container .inspiration-text h1{
          height: 37px;
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 32px;
          font-weight: 800;
          line-height: 37px;
          letter-spacing: 0%;
          text-align: center;
          padding-top: 20px;
}
.inspiration-container .inspiration-text p{
          color: rgb(13, 19, 33);
          font-family: Azeret Mono;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0%;
          text-align: center;
          opacity: 0.7;
          padding-top: 40px;
}

.inspiration-container .inspiration-video iframe{
          width: 100%;
          height: 490px;
          margin: 0 auto;
          

}


